@import "tailwindcss";

@theme {
  --color-brand-green: #4CAF50;
  --color-brand-green-dark: #388E3C;
  --color-brand-green-light: #C8E6C9;
  --color-brand-brown: #795548;
  --color-brand-gray: #F5F5F5;
}
